# Typically *NIX text editors, by default, append '~' to files on saving to make backups
*~

# Gradle
.gradle

# Build output directies
/target
*/target
*/**/target
/build
*/build

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
bin

# Java Class
*.class

# Package Files
*.jar
*.war
*.ear

# Miscellaneous
Thumbs.db
*.exe
*.bak
*.orig
*.log