# Typically *NIX text editors, by default, append '~' to files on saving to make backups
*~

# Node.js
node_modules
bower_components

# Gradle
.gradle

# Build output directories
target
build
dist

# Temporary directories
.tmp
.sass-cache

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
bin

# IDEA
.idea

# Java Class
*.class

# Package Files
*.jar
*.war
*.ear

# Miscellaneous
Thumbs.db
*.exe
*.bak
*.orig
*.log