<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                        http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <proxies>
        <proxy>
            <id>sin</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>proxy.sin.sap.corp</host>
            <port>8080</port>
            <username></username>
            <password></password>
            <nonProxyHosts>*.sap.corp|sap.de</nonProxyHosts>
        </proxy>
    </proxies>
    <profiles>
        <profile>
            <id>release.build</id>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://repo1.maven.org/maven2</url>
                </pluginRepository>
                <pluginRepository>
                    <id>release</id>
                    <url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.releases/</url>
                </pluginRepository>
                <pluginRepository>
                    <id>milestone</id>
                    <url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones/</url>
                </pluginRepository>
                <pluginRepository>
                    <id>snapshot</id>
                    <url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.snapshots/</url>
                </pluginRepository>
            </pluginRepositories>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://repo1.maven.org/maven2</url>
                </repository>
                <repository>
                    <id>release</id>
                    <url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.releases/</url>
                </repository>
                <repository>
                    <id>milestone</id>
                    <url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones/</url>
                </repository>
                <repository>
                    <id>snapshot</id>
                    <url>http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.snapshots/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>release.build</activeProfile>
    </activeProfiles>
</settings>
