<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <ul class="nav nav-pills">
                <li class="active"><a href="#diet_graph" data-toggle="tab">Graph</a></li>
                <li><a href="#diet_list" data-toggle="tab">List</a></li>
            </ul>
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="item in navItems"><a ng-href="#{{item.id}}" data-toggle="tab">{{item.name}}</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="diet_graph" ng-include="'views/diet_graph.html'">
                    diet_graph
                </div>
                <div class="tab-pane fade" id="diet_list" ng-include="'views/diet_list.html'">
                    diet_list
                </div>
            </div>
        </div>
    </div>
</div>
