<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#milk" data-toggle="tab">Milk</a></li>
                <li><a href="#supplement" data-toggle="tab">Supplement</a></li>
                <li><a href="#water" data-toggle="tab">Water</a></li>
                <li><a href="#nourishment" data-toggle="tab">Nourishment</a></li>
                <li><a href="#milkTree" data-toggle="tab">Milk Tree View</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="milk">
                    Milk
                </div>
                <div class="tab-pane fade" id="supplement">
                    Supplement
                </div>
                <div class="tab-pane fade" id="water">
                    Water
                </div>
                <div class="tab-pane fade" id="nourishment">
                    Nourishment
                </div>
                <div class="tab-pane fade" id="milkTree">
                    <div id="milkTreeView" ng-include="'views/milkTree.html'"></div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Milk Powder Details Popup -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#milkPowder">
      Milk Powder Detail
    </button>
    
    <div class="modal fade" id="milkPowder">
      <div class="modal-dialog" id="myModal">
        <div class="modal-content">
          <div class="modal-header blueLine">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Milk Powder Detail</h4>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
