<div>
    <div ng-controller="HomeCtrl" class="hometree" style="height: 100%">
        <div id="tree">
            <canvas id="treeBody" width="684" height="684"></canvas>
            <div id="main_pics">
                <div class="pic" ng-class="[days]" class="rotate normal" ng-repeat="i in [1, 2, 3, 4]"></div>
                <div id="treeTrunk"></div>
                <div id="days"></div>
                <div id="leaves"></div>
            </div>
            <div id="search_icon" style="display: none;"></div>
            <div class="search-box" id="food_search_box">
                <button class="btn btn-default" type="button" id="food_search_btn"></button>
                <input type="text" class="form-control" placeholder="Enter Food Name">
            </div>
             <div class="search-box" id="disease_search_box">
                <div>Search</div>
                <img src="./images/icon_pic_opacity.png" alt="uploadImage" />
                <div id="upload">
                    <div>Symptoms:
                        <input type="text" class="form-control" placeholder="hello world" />
                    </div>
                    <input type="file" id="file" title="Search for a file to add">
                    <span id="uploadPic">Upload</span><span id="fileName">{{fileName}}</span>
                    <button class="btn btn-default" type="button" id="disease_search_btn">Search</button>
                    <button id="closeUpload">×</button>
                </div>
            </div>
        </div>
        <div id="timeAxis">
            <div>
                <div id="timeList" class="col-xs-12">
                    <ul>
                        <li ng-class="{now: $index == now}" ng-repeat="item in timeList" ng-click="dayChosen()">
                            <span>{{item}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>