<div class="panel panel-default">
    <div ng-controller="HomeCtrl" class="hometree" style="height: 100%">
        <div id="tree">
            <!-- <div id="treeBody">
            </div> -->
            <div id="pic" class="rotate normal"></div>
            <canvas id="treeBody" width="684" height="684"></canvas>
            <div id="treeTrunk"></div>
            <div id="days"></div>
            <div id="leaves"></div>
        </div>
        <div id="timeAxis">
            <div>
                <div id="timeList" class="col-xs-12">
                    <ul>
                        <li ng-class="{now: $index == now}" ng-repeat="item in timeList" ng-click="dayChosen()">
                            <span>{{item}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>