<div class="panel panel-default">
    <div ng-controller="HomeCtrl" class="hometree" style="height: 100%">
        <div id="tree">
            <div id="treeBody">
                <div id="pic" class="rotate normal"></div>
            </div>
            <div id="treeTrunk"></div>
            <div id="days"></div>
        </div>
        <div id="timeAxis" class="row">
        <div class="col-xs-12" id="timeList">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{active: $index == 0}" ng-repeat="item in timeList"><a href="#" data-toggle="tab">{{item}}</a></li>
            </ul>
        </div>
    </div>
</div>