<div id="intelligence" class="container-fluid" style="height: 100%">
    <div class="row" style="height: 100%">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2" style="padding: 10rem 0 0 2rem">
            <ul class="nav nav-pills" style="margin: 1rem 0;">
                <li><a href="#diet_graph" data-toggle="tab"><span class="glyphicon glyphicon-tree-deciduous"></span></a></li>
                <li class="active"><a href="#diet_list" data-toggle="tab"><span class="glyphicon glyphicon-th"></span></a></li>
            </ul>
            <ul id="intelligence_nav" class="nav nav-pills nav-stacked" style="margin-left: 1rem;">
                <li ng-repeat="item in navItems" ng-class="{'active': ($index === 0)}"><a ng-href="#{{item.id}}" data-toggle="tab">{{item.name}}</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10" style="height: 100%">
            <div class="tab-content" style="height: 100%">
                <img src="./images/play-toys-cloud.png" />
            </div>
        </div>
    </div>
</div>
