<div class="modal" id="medical_topic" ng-controller="MedicalDetailCtrl" role="modal">
    <div class="modal-dialog" id="medical_modal">
        <div class="modal-content">
            <div class="medical-dismiss"></div>
            <div class="modal-body" id="medical_body">
                <div class="medical-header"><span>Topic</span></div>
                <div class="topic-title-group">
                    <div class="topic-title"><span>{{topic.title}}</span></div>
                    <div class="topic-keyword">
                        <span class="keyword-caption">关键词 : </span>
                        <span class="keyword-list">{{topic.sol_key}}</span>
                    </div>
                </div>
                <div class="panel panel-default topic-panel">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="reply in topicDetail">
                            <div class="topic-content">{{reply}}</div>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="medical-praise"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>