<div class="modal" id="milk_powder" ng-controller="MilkDetailCtrl" role="modal">
    <div class="modal-dialog" id="milk_modal">
        <div class="modal-content">
            <div class="modal-header blue-line">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Milk Powder Detail</h4>
            </div>
            <div class="modal-body" id="milk_body">
                <div class="row milk-detail">
                    <div class="col-md-3 milk-name">milkName</div>
                    <div class="col-md-9 milk-info">milkInfo</div>
                </div>
                <div class="row milk-graph">
                    <div class="col-md-6 milk-graph-info" id="good"></div>
                    <div class="col-md-6 milk-graph-info" id="bad"></div>
                </div>
                <h4 class="modal-title post-title">The Top Posts</h4>
                <div class="row top-posts">
                    <div class="col-md-3 top-post-item">
                        <a href="#" class="thumbnail">
                            <img src="images/example.png">
                            <p class="post-caption">post-caption</p>
                        </a>
                    </div>
                    <div class="col-md-3 top-post-item">
                        <a href="#" class="thumbnail">
                            <img src="images/example.png">
                            <p class="post-caption">post-caption</p>
                        </a>
                    </div>
                    <div class="col-md-3 top-post-item">
                        <a href="#" class="thumbnail">
                            <img src="images/example.png">
                            <p class="post-caption">post-caption</p>
                        </a>
                    </div>
                    <div class="col-md-3 top-post-item">
                        <a href="#" class="thumbnail">
                            <img src="images/example.png">
                            <p class="post-caption">post-caption</p>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->