<div class="modal" id="milk_powder" ng-controller="MilkDetailCtrl" role="modal">
    <div class="modal-dialog" id="milk_modal">
        <div class="modal-content">
            <div class="milk-dismiss"></div>
            <div class="modal-body" id="milk_body">
                <div class="milk-header"><span>Formula Information</span></div>
                <div class="row milk-detail">
                    <div class="col-md-2 milk-name"><span>{{brandInfo.name}}</span></div>
                    <div class="col-md-10 milk-info"><span>{{brandInfo.description}}</span></div>
                </div>
                <div class="row milk-graph">
                    <div class="col-md-6 milk-graph-info" id="good"></div>
                    <div class="col-md-6 milk-graph-info" id="bad"></div>
                </div>
                <!-- <h4 class="modal-title post-title">The Top Posts</h4>
                <div class="row top-posts">
                    <div class="col-md-3 top-post-item" ng-repeat="post in posts">
                        <a href="#" class="thumbnail">
                            <img src="{{post.image_url}}">
                            <p class="post-caption">{{post.title}}</p>
                        </a>
                    </div>
                </div> -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->