<div class="modal fade" id="post_detail" ng-controller="TopicDetailCtrl" role="modal">
    <div class="modal-dialog" id="topic_modal">
        <div class="modal-content">
            <div class="modal-header blue-line">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Topic Detail</h4>
            </div>
            <div class="modal-body" id="topic_body">
                <div class="topic-title-group">
                    <h3 class="topic-title">2段奶粉哪个好？适合宝宝的奶粉就是最好的奶粉</h3>
                    <h4 class="topic-keyword">
                        <span class="keyword-caption">关键词 : </span>
                        <span class="keyword-list">keyword1, keyword2, keyword3</span>
                    </h4>
                </div>
                <div class="panel panel-default topic-panel">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="topic-content">1段的时候吃过奶粉吗？如果吃过的话，建议还是吃以前那个，这样比较好哦</div>
                            <div class="row">
                                <div class="col-md-10 topic-src">来源 ： </div>
                                <div class="col-md-1 topic-agree">23<img src="images/topic_agree.png"></div>
                                <div class="col-md-1 topic-answer">23<img src="images/topic_answer.png"></div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>hot topic two</div>
                        </li>
                        <li class="list-group-item">
                            <div>hot topic three</div>
                        </li>
                        <!-- <li class="list-group-item">
                            <div>hot topic four</div>
                        </li> -->
                    </ul>
                </div>
                <div class="panel panel-default related-topics">
                    <h3>Related Topics</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="topic-content">宝宝和奶粉</div>
                        </li>
                        <li class="list-group-item">
                            <div class="topic-content">宝宝和奶粉</div>
                        </li>
                        <li class="list-group-item">
                            <div class="topic-content">宝宝和奶粉</div>
                        </li>
                        <li class="list-group-item">
                            <div class="topic-content">宝宝和奶粉</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->