<div class="modal" id="post_detail" ng-controller="TopicDetailCtrl" role="modal">
    <div class="modal-dialog" id="topic_modal">
        <div class="modal-content">
            <div class="post-dismiss"></div>
            <div class="modal-body" id="topic_body">
                <div class="topic-header"><span>Topic Detail</span></div>
                <div class="topic-title-group">
                    <div class="topic-title"><span>{{topic.title}}</span></div>
                </div>
                <div class="panel panel-default topic-panel">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="reply in topic.replies">
                            <span class="topic-content">{{reply.content}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>