#diseseList .selected {
    
}

.pic-keyword {
    position: absolute;
    bottom: 9%;
    left: 10%;
    z-index: 1;
    color: #fff;
}

.right-check {
    position: absolute;
    bottom: 8%;
    right: 8%;
    z-index: 1;
}
