/** home tree **/
#tree {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background: url("../images/bg.png") no-repeat;
    background-size: 100%;
}
#tree > div {
    position: absolute;
}
#tree > #treeBody {
    width: 684px;
    height: 684px;
    left: 24%;
    bottom: 3%;
    background: url("../images/tree.png") no-repeat;
    background-size: contain;
    -webkit-animation: zoom 2800ms ease 0s infinite;
}
#treeBody > #pic {
    width: 120px;
    height: 120px;
    background: url("../images/tree.png");
    background-size: contain;
    border-radius: 60px;
    -webkit-transform-origin: 60px;
}
#pic.rotate {
    -webkit-transform: rotateY(0deg);
    -webkit-animation: rotate 800ms ease 2s 1;
}
@-webkit-keyframes rotate {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        -webkit-transform: rotateY(180deg);
    } 
}
@-webkit-keyframes zoom {
    60% {
        -webkit-transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
#tree > #treeTrunk {
    width: 260px;
    height: 129px;
    left: 36%;
    bottom: 0px;
    background: url("../images/tree-trunk.png") no-repeat 42% 100%;
}
#tree > #days {
    width: 75px;
    height: 61px;
    bottom: 3%;
    left: 42%;
    background: url("../images/day-number.png") no-repeat;
}
#tree > #leaves {
    width: 360px;
    height: 180px;
    bottom: 0%;
    left: 34%;
    background-image: url("../images/leaf1.png"), url("../images/leaf2.png"), url("../images/leaf3.png"), url("../images/leaf4.png");
    background-repeat: no-repeat;
    background-position: 48px 23px,5px 70px,86px 43px,289px 58px;
}
#timeAxis {
    position: absolute;
    right: 0px;
    top: 50px;
    height: 96%;
    width: 10%;
    overflow: hidden;
    background: url("../images/time-line-base.png") no-repeat 17px 6px;
    background-size: 57% 94%;
}
#timeAxis > div:first-child {
    position: absolute;
    bottom: 15%;
    height: 79%;
    width: 100%;
    overflow: hidden;
}
#timeList {
    position: absolute;
    
    bottom: 0px;
}
#timeAxis ul {
    list-style: none;
    color: #00aeef;
    padding: 0px;
    text-indent: 1em;
}
#timeAxis ul > li {
    height: 40px;
    cursor: pointer;
    background: url("../images/time-line-dot.png") no-repeat 16px 0px;
    text-indent: 2em;
    font-size: 16px;
}
#timeAxis ul > li.now {
    color: #00aeef;
    background: url("../images/time-line-foot-print.png") no-repeat 1px 0;
    height: 60px;
    font-size: 20px;
}
#timeAxis ul > li:first-child:after {
    content: " month"
}
#timeAxis ul > li:nth-child(n+1):after {
    content: " months"
}