/** home tree **/
#tree {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background: url("../images/bg.png") no-repeat;
    background-size: 100%;
}
#tree > * {
    position: absolute;
}
#tree > #treeBody {
    width: 684px;
    height: 684px;
    left: 24%;
    bottom: 3%;
    border-radius: 342px;
    border: 1px solid blue;
    z-index: 1;
}
#tree > #treeBody > div {
    position: absolute;
}
#main_pics {
    width: 684px;
    height: 716px;
    left: 24%;
    bottom: 0px;
}
.pic {
    position: absolute;
    width: 120px;
    height: 120px;
    background-size: contain;
    border-radius: 60px;
    -webkit-transform-origin: 60px;
    display: none;
    z-index: 1;
}
.pic.rotate {
    -webkit-transform: rotateY(0deg);
    -webkit-animation: rotate 800ms ease 2s 1;
}
.pic.five-months:first-child {
    width: 334px;
    height: 334px;
    border-radius: 167px;
    left: 27%;
    top: 42%;
    background: url("../images/5m_icon36.png") no-repeat;
}
.pic.five-months:nth-child(2) {
    width: 148px;  
    height: 148px;  
    border-radius: 74px;  
    left: 72%;  
    top: 38%;
    background: url("../images/5m_icon32.png") no-repeat;
}
.pic.five-months:nth-child(3) {
    width: 158px;
    height: 158px;
    border-radius: 79px;
    left: 1%;
    top: 265px;
    background: url("../images/5m_icon37.png") no-repeat;
}
.pic.five-months:nth-child(4) {
    width: 154px;
    height: 154px;
    border-radius: 77px;      
    left: 37%;      
    top: 17%;     
    background: url("../images/5m_icon30.png") no-repeat;
}
@-webkit-keyframes rotate {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        -webkit-transform: rotateY(180deg);
    } 
}
@-webkit-keyframes zoom {
    60% {
        -webkit-transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
#main_pics *:not(.pic) {
    position: absolute;
}
#main_pics > #treeTrunk {
    width: 260px;
    height: 129px;
    left: 29%;
    bottom: 0px;
    background: url("../images/tree-trunk.png") no-repeat 42% 100%;
}
#main_pics > #days {
    width: 75px;
    height: 61px;
    bottom: 3%;
    left: 44%;
    background: url("../images/day-number.png") no-repeat;
}
#main_pics > #leaves {
    width: 360px;
    height: 180px;
    bottom: 0%;
    left: 24%;
    background-image: url("../images/leaf1.png"), url("../images/leaf2.png"), url("../images/leaf3.png"), url("../images/leaf4.png");
    background-repeat: no-repeat;
    background-position: 48px 23px,5px 70px,86px 43px,289px 58px;
    -webkit-animation: grow 2000ms ease 0s 1;
    z-index: 1;
}
@-webkit-keyframes grow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#timeAxis {
    position: absolute;
    right: 0px;
    top: 50px;
    height: 96%;
    width: 10%;
    overflow: hidden;
    background: url("../images/time-line-base.png") no-repeat 17px 6px;
    background-size: 57% 94%;
}
#timeAxis > div:first-child {
    position: absolute;
    bottom: 15%;
    height: 79%;
    width: 100%;
    overflow: hidden;
}
#timeList {
    position: absolute;
    
    bottom: 0px;
}
#timeAxis ul {
    list-style: none;
    color: #00aeef;
    padding: 0px;
    text-indent: 1em;
}
#timeAxis ul > li {
    height: 40px;
    cursor: pointer;
    background: url("../images/time-line-dot.png") no-repeat 16px 0px;
    text-indent: 2em;
    font-size: 16px;
}
#timeAxis ul > li.now {
    color: #00aeef;
    background: url("../images/time-line-foot-print.png") no-repeat 1px 0;
    height: 60px;
    font-size: 20px;
}
#timeAxis ul > li:first-child:after {
    content: " month"
}
#timeAxis ul > li:nth-child(n+1):after {
    content: " months"
}
.search-icon {
    display: none;
    cursor: pointer;
}
#food_search_icon {
    background: rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 5px rgba(0, 255, 255, 0.2);
    z-index: 1;
}
.search-box {
    display: none;
}
#food_search_box {
    left: 40%;
    
    z-index: 1;
    top: 60%;
}