/** home tree **/
#tree {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}
#tree > * {
    position: absolute;
    width: 684px;
    height: 684px;
    left: 24%;
    bottom: 3%;
}
#tree > #treeBody {
    border-radius: 342px;
    z-index: 1;
}
#tree > #treeBody > div {
    position: absolute;
}
#main_pics {
    height: 716px;
    bottom: 0px;
}
.pic {
    position: absolute;
    width: 120px;
    height: 120px;
    background-size: contain;
    border-radius: 60px;
    -webkit-transform-origin: 60px;
    display: none;
    z-index: 1;
}
.pic.rotate {
    -webkit-transform: rotateY(0deg);
    -webkit-animation: rotate 800ms ease 2s 1;
}
.pic.five-months:first-child {
    width: 334px;
    height: 334px;
    border-radius: 167px;
    left: 26%;
    top: 40%;
    background: url("../images/5m_icon36.png") no-repeat;
}
.pic.five-months:nth-child(2) {
    width: 148px;  
    height: 148px;  
    border-radius: 74px;  
    left: 70%;  
    top: 34%;
    background: url("../images/5m_icon32.png") no-repeat;
}
.pic.five-months:nth-child(3) {
    width: 158px;
    height: 158px;
    border-radius: 79px;
    left: 1%;
    top: 222px;
    background: url("../images/5m_icon37.png") no-repeat;
}
.pic.five-months:nth-child(4) {
    width: 180px;
    height: 180px;
    border-radius: 90px;      
    left: 36%;      
    top: 12%;     
    background: url("../images/5m_icon30.png") no-repeat;
    background-size: cover;
}
@-webkit-keyframes rotate {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        -webkit-transform: rotateY(180deg);
    } 
}
@-webkit-keyframes zoom {
    60% {
        -webkit-transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
#main_pics *:not(.pic) {
    position: absolute;
}
#main_pics > #treeTrunk {
    width: 260px;
    height: 129px;
    left: 29%;
    bottom: 0px;
    background: url("../images/tree-trunk.png") no-repeat 42% 100%;
}
#main_pics > #days {
    width: 75px;
    height: 61px;
    bottom: 3%;
    left: 44%;
    background: url("../images/150days.png") no-repeat;
}
#main_pics > #leaves {
    width: 360px;
    height: 180px;
    bottom: 0%;
    left: 24%;
    background-image: url("../images/leaf1.png"), url("../images/leaf2.png"), url("../images/leaf3.png"), url("../images/leaf4.png");
    background-repeat: no-repeat;
    background-position: 48px 23px,5px 70px,86px 43px,289px 58px;
    -webkit-animation: grow 2000ms ease 0s 1;
    z-index: 1;
}
@-webkit-keyframes grow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#timeAxis {
    position: absolute;
    right: 2%;
    top: 10%;
    height: 88%;
    width: 15%;
    overflow: hidden;
    background: url("../images/time-line-base.png") no-repeat 17px 6px;
    background-size: 57% 94%;
}
#timeAxis > div:first-child {
    position: absolute;
    bottom: 15%;
    left: 4%;
    height: 79%;
    width: 100%;
    overflow: hidden;
}
#timeList {
    position: absolute;
    
    bottom: 0px;
}
#timeAxis ul {
    list-style: none;
    color: #00aeef;
    padding: 0px;
    text-indent: 1em;
}
#timeAxis ul > li {
    height: 40px;
    cursor: pointer;
    background: url("../images/time-line-dot.png") no-repeat 16px 0px;
    text-indent: 2em;
    font-size: 20px;
    width: 200px;
}
#timeAxis ul > li:hover {
    text-shadow: 0 0 5px #59c2e4, 0 0 10px #59c2e4, 0 0 15px #59c2e4, 0 0 40px #59c2e4, 0 0 70px #59c2e4;
    font-size: 25px;
}
#timeAxis ul > li.now {
    color: #00aeef;
    background: url("../images/time-line-foot-print.png") no-repeat 1px 7px;
    height: 60px;
    font-size: 28px;
    text-indent: 1.5em;
    text-shadow: 0 0 5px #59c2e4, 0 0 10px #59c2e4, 0 0 15px #59c2e4, 0 0 40px #59c2e4, 0 0 70px #59c2e4;
}
#timeAxis ul > li:first-child:after {
    content: " month"
}
#timeAxis ul > li:nth-child(n+1):after {
    content: " months"
}
#search_icon {
    display: none;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    width: 70px;
    height: 70px;
    border-radius: 35px;
    line-height: 70px;
    font-size: 17px;
    text-indent: 0.4em;
    z-index: 2;
    color: #fff;
}
#search_icon.food {
    border: 5px solid rgb(65, 188, 167);
    box-shadow: 0px 0px 15px 15px rgba(65, 188, 167, 0.5);
    display: block;
}
#search_icon.growth {
    border: 5px solid rgb(59, 211, 255);
    box-shadow: 0px 0px 15px 15px rgba(59, 211, 255, 0.5);
    display: block;
}
#search_icon.disease {
    border: 5px solid rgb(231, 173, 0);
    box-shadow: 0px 0px 15px 15px rgba(231, 173, 0, 0.5);
    display: block;
}
#search_icon.milestones {
    border: 5px solid rgb(59, 134, 105);
    box-shadow: 0px 0px 15px 15px rgba(59, 134, 105, 0.5);
    display: block;
}
.search-box {
    display: none;
}
#food_search_box, #disease_search_box {
    position: absolute;
    width: 300px;
    height: 34px;
    z-index: 3;
    border-radius: 5px;
}
#food_search_box {
    box-shadow: 0 0 0 5px rgba(65, 188, 167, 0.5);
    background-color: rgba(0, 0, 0, 0.6);
}
#disease_search_box {
    width: 350px;
}
#food_search_box *, #disease_search_box * {
    position: absolute;
    border-color: transparent;
    color: #fff;
    height: 34px;
}
#food_search_btn {
    width: 50px;
    height: 35px;
    line-height: 19px;
    font-size: 20px;
    background: url("../images/icon_search.png") no-repeat 10px 8px;
}
#disease_search_btn {
   width: 127px;
    
   height: 38px;
    line-height: 34px;
    
   left: 217px;
    
   top: 112px;
    font-size: 20px;
    
   background: url("../images/icon_upload.png") no-repeat 0px 0px !important;
    
   padding: 0px;
}
#food_search_box input, #disease_search_box input {
    left: 50px;
    width: 250px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.6);
}
#disease_search_box img {
    right: 6px;
    bottom: 6px;
    width: 21px;
    height: 21px;
    cursor: pointer;
}
#disease_search_box {
     box-shadow: 0 0 0 5px rgba(231, 173, 0, 0.5);
}
#disease_search_box > div:first-child {
    width: 100%;
    height: 35px;
    background: url("../images/icon_search.png") no-repeat 10px 9px, rgba(0,0,0,0.7);
    border-radius: 6px;
    text-indent: 2em;
    font-size: 20px;
    line-height: 35px;
}
#upload {
    display: none;
    top: 38px;
    width: 350px;
    height: 157px;
    background: rgba(255,255,255,0.9);
    box-shadow: 5px 4px 6px 4px rgba(255,255,255,0.5);
}
#upload input {
    background: #fff;
}
#upload * {
    background: transparent;
    color: #000;
}
#upload > div:nth-child(2) {
    top: 60px;
}
#upload > div:nth-child(3) {
    top: 100px;
}
#upload div > input {
    left: 13px;
    top: 30px;
    border: 1px solid #000;
    margin: 0 auto;
    width: 320px;
    height: 30px;
}
#upload div:first-child {
    font-size: 18px;
    line-height: 32px;
    text-indent: 0.7em;
}
#upload span.des {
    width: 170px;
    text-align: right;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
}
#disease_search_box input#file {
    opacity: 0;
    top: 66px;
    left: 9px;
    height: 39px;
    z-index: 1;
    font-size: 24px;
    cursor: pointer;
}
#closeUpload {
    right: 0px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 17px;
    text-indent: -2px;
    background: rgba(0,0,0,0.1);
}
#uploadPic {
    background: url("../images/icon_pic.png") no-repeat 97px 7px;
    width: 127px;
    height: 36px;
    line-height: 36px;
    font-size: 19px;
    text-indent: 25px;
    left: 10px;
    top: 66px;
    background-color: rgba(59,211,255,0.9);
    border-radius: 18px;
    cursor: pointer;
}
#fileName {
    border: 1px solid black;
    width: 202px;
    height: 24px;
    top: 72px;
    left: 142px;
    z-index: 1;
}
