/* ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.modal-body {
    max-height: 500px;
    overflow-y: auto;
}

input.ng-invalid,
select.ng-invalid {
    border-color: #FA787E;
}

.thumbnail {
    cursor: pointer;
}