/* ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.modal-body {
    max-height: 500px;
    overflow-y: auto;
}

input.ng-invalid,
select.ng-invalid {
    border-color: #FA787E;
}

.thumbnail {
    cursor: pointer;
    border: 1px solid #2aabd2;
}

.thumbnail .caption {
}

.progress-bar {
    text-align: left;
}

.navbar {
    min-height: 100px;
}

.navbar .navbar-brand {
    padding: 30px 15px;
}

.navbar .navbar-nav {
    margin: 50px 0 0 50px;
}

.navbar .navbar-nav.navbar-right {
    margin: 0;
}

.btn-default {
    color: #2aabd2;
    border-color: #2aabd2;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #39b3d7;
    border-color: #2aabd2;
}

.btn-default:hover {
    color: #ffffff;
    background-image: -webkit-linear-gradient(#20829f, #2596b8 40%, #28a4c9);
    background-image: linear-gradient(#20829f, #2596b8 40%, #28a4c9);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff20829f', endColorstr='#ff28a4c9', GradientType=0);
    filter: none;
}

.nav-pills > li > a {
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    filter: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.nav-pills > li > a:hover {
    background-image: -webkit-linear-gradient(#20829f, #2596b8 40%, #28a4c9);
    background-image: linear-gradient(#20829f, #2596b8 40%, #28a4c9);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff20829f', endColorstr='#ff28a4c9', GradientType=0);
    filter: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #333333;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
    background-color: none;
    background-image: -webkit-linear-gradient(#20829f, #2596b8 40%, #28a4c9);
    background-image: linear-gradient(#20829f, #2596b8 40%, #28a4c9);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff20829f', endColorstr='#ff28a4c9', GradientType=0);
    filter: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
}



body {
}

a {
    color: #2aabd2;
}

#container {
    position: absolute;
    top: 100px;
    bottom: 30px;
    width: 100%;
    background: url("../images/bg.png") no-repeat;
    background-size: 100%;
}