@CHARSET "UTF-8";

/* Milk Powder Detail Popup */
#milk_powder {
    overflow: hidden !important;
}

.blue-line {
    height: 50px;
    padding: 10px;
    text-align: center;
}

#milk_modal {
    width: 1100px;
    margin: 70px auto;
    padding: 40px;
}

#milk_modal .modal-content {
    background: url("../images/milkbrand_detail_bg.png") 100%;
}

#milk_body {
    max-height: 800px !important;
}

.milk-name {
    text-align: center;
}

.milk-graph {
    height: 500px;
}

.milk-graph-info {
    width: 500px;
    height: 500px;
}

#good {
    margin-left: 20px;
}

#bad {
    margin-left: -60px;
}

.post-title {
    border-top: 1px dotted;
    text-indent: 40px;
    padding-top: 10px;
}

.top-posts {
    height: 120px;
    padding: 0 50px;
}

.top-post-item {
    height: 120px;
    padding: 10px 10px;
}

.top-post-item a {
    height: 100px;
    padding: 0 !important;
    border: 0;
}

.top-post-item a img {
    width: 100%;
    height: 100%;
}

.post-caption {
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 207px;
    height: 28px;
    line-height: 28px;
    text-indent: 10px;
    background: rgba(0,0,0,0.6);
    opacity: 0.5;
}