@CHARSET "UTF-8";

/* Milk Powder Detail Popup */
#milk_powder {
    overflow: hidden !important;
}

#milk_modal {
    width: 840px;
    margin: 100px auto 0 auto;
}

#milk_modal .modal-content {
    background: url("../images/milkbrand_detail_bg.png") no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
}

#milk_body {
    max-height: 800px !important;
    overflow: hidden !important;
}

.milk-header {
    height: 40px;
    line-height: 10px;
    text-align: center;
    margin-top: 10px;
}

.milk-header span {
    font-size: 20px;
    font-weight: bolder;
    color: #247b5a;
}

.milk-dismiss {
    position: absolute;
    top: -15px;
    right: -15px;
    background: url('../images/milkbrand_close.png') no-repeat;
    background-size: 100% 100%;
    width: 49px;
    height: 49px;
    cursor: pointer;
    z-index: 1000;
}

.milk-detail {
    height: 30px;
}

.milk-name {
    text-align: center;
    line-height: 30px;
    padding-left: 25px;
}

.milk-name span {
    font-size: 20px;
    font-weight: bold;
    color: #00d2b9;
}

.milk-info {
    line-height: 15px;
}

.milk-info span {
    font-size: 13px;
    font-family: "Microsoft Yahei";
    color: #4c4e4b;
}

.milk-graph {

}

.milk-graph-info {
    width: 350px;
    height: 400px;
    margin-top: -33px;
}

#good {
    margin-left: -20px;
}

#bad {
    margin-left: -50px;
}
