@CHARSET "UTF-8";

/* Milk Powder Detail Popup */
#milk_powder {
    overflow: hidden !important;
}

.blue-line {
    height: 50px;
    padding: 10px;
    text-align: center;
    border-bottom: 0px !important;
}

#milk_modal {
    width: 1100px;
    margin: 70px auto;
    padding: 40px;
}

#milk_modal .modal-content {
    background: url("../images/milkbrand_detail_bg.png") no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
}

#milk_body {
    max-height: 800px !important;
    overflow-x: hidden !important;
}

.milk-header {
    height: 50px;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
}

.milk-header span {
    font-size: 25px !important;
    font-weight: bolder;
    color: #247b5a;
}

.milk-dismiss {
    position: absolute;
    top: -20px;
    right: -20px;
    background: url('../images/milkbrand_close.png') no-repeat;
    background-size: 100% 100%;
    width: 59px;
    height: 59px;
    cursor: pointer;
    z-index: 1000;
}

.milk-detail {
    height: 50px;
}

.milk-name {
    text-align: center;
    line-height: 40px;
    padding-left: 25px;
}

.milk-name span {
    font-size: 25px;
    font-weight: bold;
    color: #00d2b9;
}

.milk-info {
    line-height: 22px;
}

.milk-info span {
    font-size: 20px;
    color: #4c4e4b;
}

.milk-graph {
    height: 500px;
}

.milk-graph-info {
    width: 500px;
    height: 500px;
    margin-top: -15px;
}

#good {
    margin-left: 20px;
}

#bad {
    margin-left: -60px;
}