@CHARSET "UTF-8";

/* Top Topic Detail Popup */
#post_detail {
    overflow: hidden !important;
}

#topic_modal {
    width: 900px;
    margin: 40px auto;
    padding: 40px;
}

.post-dismiss {
    position: absolute;
    top: -15px;
    right: -15px;
    background: url('../images/green_close.png') no-repeat;
    background-size: 100% 100%;
    width: 51px;
    height: 48px;
    cursor: pointer;
    z-index: 1000;
}

#post_detail .modal-content {
    background: url("../images/Detail_green_bg.png") no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
}

.topic-header {
    height: 50px;
    line-height: 60px;
    text-align: center;
}

.topic-header span {
    font-size: 20px !important;
    font-weight: bolder;
    color: #fdfffe;
}

#topic_body {
    max-height: 800px !important;
    padding: 0 !important;
    overflow-y: none !important;
}

#post_detail .topic-title-group {
    height: 55px;
    padding: 0px 40px;
}

#post_detail .topic-title-group .topic-title {
    height: 40px;
    background: url("../images/icon_question.png") no-repeat left;
    text-indent: 50px;
    line-height: 40px;
    font-size: 20px;
    color: #fdfffe;
}

#topic_body .topic-panel {
    margin: 0 50px 30px 50px;
    border: 1px dashed;
    overflow-y: auto;
}

#topic_body .topic-panel .list-group {
    border: 0;
    max-height: 250px;
}

#topic_body .topic-panel .list-group .list-group-item {
    height: 80px;
}

#topic_body .topic-panel .list-group .list-group-item {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fdfffe;
}

#topic_body .topic-panel .list-group .list-group-item span{
    line-height: 30px;
    font-size: 15px;
    color: #3e3f3f;
}